<template name="boarders">



<div id="skaters" class="skateboarders">
		

	<div class="medium-8 columns">
		
		<div class="row">
			
			<div class="medium-6 columns"> <div class="sb1 lanceLink"><h2>Lance Mountain</h2></div> </div>
			<div class="medium-6 columns"> <div class="sb2 rodneyLink"><h2>Rodney Mullen</h2></div> </div>



		</div><!--end row-->

		<div class="row">

			<div class="medium-12 columns"> <div class="sb4 steveLink"><h2>Steve Caballero</h2></div></div>
			

		</div>

	</div><!--end col-->

	<div class="medium-4 columns">
		
	<div class="sb3 tommyLink"><h2>Tommy Guerrero</h2></div>

	</div>


	</div><!--end skateboarders-->




	<div class="lanceBio skaterbio hide">
		
		<h3>Lance Mountain</h3>



		<div class="row">
			<div class="medium-6 columns">

				<h4>Bio</h4>

				<p>Robert Lance Mountain is a professional skateboarder and artist who was one of the prominent skateboarders throughout the 1980s, primarily due to his involvement with the Bones Brigade.</p>
				

				<ul>
				<li>Favorite Board: The Elephant</li>
					<li>Favorite Trick: Fingerboard Ollies</li>
					<li>Favorite Skatepark: Upland Skatepark</li>

				</ul>

			</div><!--end col-->
			<div class="medium-6 columns">
				
				<img src="/images/boarders/lance/lance4.jpg" alt="">

				<img src="/images/boarders/lance/lance2.gif" alt="">
				<img src="/images/boarders/lance/lance3.jpg" alt="">
				<img src="/images/boarders/lance/lance1.jpg" alt="">



			</div><!--end col-->


		</div><!--end row-->
				<a href="#" class="boardreset">Back to all the boarders</a>


	</div><!--end lance-->

	<div class="rodneyBio skaterbio hide">
		
		<h3>Rodney Mullen</h3>

		<div class="row">
			<div class="medium-6 columns">

				<h4>Bio</h4>

				<p>John Rodney Mullen is a professional skateboarder, company owner, inventor, and public speaker who practices freestyle and street skateboarding.</p>
				
				
				<ul>
					<li>Favorite Board: The Rodney Deck</li>
					<li>Favorite Trick: The Impossible</li>
					<li>Favorite Skatepark: Kona Skatepark</li>

				</ul>

			</div><!--end col-->
			<div class="medium-6 columns">
				
				<img src="/images/boarders/rodney/rod1.jpg" alt="">

				<img src="/images/boarders/rodney/rod2.jpg" alt="">
				<img src="/images/boarders/rodney/rod3.jpg" alt="">
				<img src="/images/boarders/rodney/rod5.jpg" alt="">



			</div><!--end col-->


		</div><!--end row-->

					<a href="#" class="boardreset">Back to all the boarders</a>


	</div><!--end rodney-->

	<div class="tommyBio skaterbio hide">

				<h3>Tommy Guerrero</h3>

		
		<div class="row">
			<div class="medium-6 columns">

				<h4>Bio</h4>

				<p>Tommy Guerrero (born September 9, 1966) is an American professional skateboarder, company owner, and musician.</p>
				
				
				<ul>
					<li>Favorite Board: Bones Brigade Animal Edition</li>
					<li>Favorite Trick:: Flip-Kick</li>
					<li>Favorite Skatepark: San Fransisco</li>

				</ul>

			</div><!--end col-->
			<div class="medium-6 columns">
				
				<img src="/images/boarders/tommy/tom1.jpg" alt="">

				<img src="/images/boarders/tommy/tom2.jpg" alt="">
				<img src="/images/boarders/tommy/tom3.jpg" alt="">
				<img src="/images/boarders/tommy/tom4.jpg" alt="">



			</div><!--end col-->


		</div><!--end row-->

					<a href="#" class="boardreset">Back to all the boarders</a>

	</div><!--end tommy-->

	<div class="steveBio skaterbio hide">

						<h3>Steve Caballero</h3>

		
		<div class="row">
			<div class="medium-6 columns">

				<h4>Bio</h4>

				<p>Steve Caballero is a professional skateboarder and musician. Caballero is known for the difficult tricks and air variations he invented for vertical skating and for setting the long-standing record for the highest air achieved on a halfpipe.</p>
				
				
				<ul>
					<li>Favorite Board: Powell Peralta Steadham Spade - Red - 10</li>
					<li>Favorite Trick: Caballeria</li>
					<li>Favorite Skatepark: Oasis Skatepark</li>

				</ul>

			</div><!--end col-->
			<div class="medium-6 columns">
				
				<img src="/images/boarders/steve/steve1.jpg" alt="">

				<img src="/images/boarders/steve/steve2.jpg" alt="">
				<img src="/images/boarders/steve/steve3.jpg" alt="">
				<img src="/images/boarders/steve/steve4.jpg" alt="">



			</div><!--end col-->


		</div><!--end row-->

					<a href="#" class="boardreset">Back to all the boarders</a>

	
	</div><!--end steve-->



</template>