<template name="header">

	<div class="row clearfix">

		<div class="medium-8 columns left">
			
			<div class="logo">

			<a href="/"><img src="/images/logo.png" style="height: 125px;" alt=""></a>
			
			</div><!--end logo-->

		</div><!--end col-->
		 
		<div class="medium-4 columns right">

			<div class="subscribe">
   		
			<ul class="right">
				<li><a href="#"><img src="/images/social/fb.png" alt=""></a></li>
				<li><a href="#"><img src="/images/social/rss.png" alt=""></a></li>
				<li><a href="#"><img src="/images/social/twitter.png" alt=""></a></li>
				<li><a href="#"><img src="/images/social/youtube.png" alt=""></a></li>


			</ul><!--end ul-->

		</div><!--end subscribe-->

   		</div><!--end col-->

	</div><!--end row-->
  <header class="navbar">

   

   <nav class="main">
   		<ul>
   			<li><a id="sktClick" href="#sktClick">- SK8T NEWS -</a></li>
   			<li><a id="boarderClick" href="#boarderClick">- SKATEBOARDERS -</a></li>
   			<li><a id="boardClick" href="#boardClick">- BOARD DESIGN -</a></li>
   			<li><a id="contactClick" href="#contactClick">- CONTACT US -</a></li>


   		</ul>


   </nav>

   

  </header>
</template>